/* BottomBar CSS */
.bottom-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  max-width: 600px;
  border-top: 1px solid #ddd;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  cursor: pointer;
}
p {
  margin: 0;
}

.icon:hover {
  color: #007bff;
  /* 아이콘 hover 시 색상 */
}